/* Style the list */
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	/* border: 1px solid #ccc; */
	border-top: none;
}

form.empform {
	width: 900px;;
	font-size: 1.0em;
	color: #333;
}

form.empform legend {
	padding-left: 0;
}

form.empform legend, form.empform label {
	color: #333;
}

form.empform label.error, label.error {
	color: red;
	font-style: italic
}

div.error {
	display: none;
}

input {
	border: 1px solid black;
}

input.checkbox {
	border: none
}

input:focus {
	border: 1px dotted black;
}

input.error {
	border: 1px dotted red;
}

form.empform .gray * {
	color: gray;
}

/* #personal {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
} */


#empdetailForm {
	width: 670px;
}

#empdetailForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}

#attachmentListDiv {
	display: block;
	margin-top: 20px;
}

#attachmentList{
    border: 1px solid black;
}

#attachmentList tr {
    border: 1px solid black;
}

#attachmentList th{
	border: 1px solid black;
	padding : 10px;
}

#attachmentList td{
	border: 1px solid black;
	padding : 4px;
}

#result, #profresult{
	color :  red;
}

/* #personal{
	width:600px;
	height:250px;
}*/

#personaldetails{
	float:left;
	width:65%;
	overflow:hidden;
}

#profilepic{
	display:block;
	width:150px;
	height:180px;
	background-repeat:no-repeat;
	background-postion:center center;
	background-size:cover;
	overflow:hidden;
}

#profilemain{
	display:block;
	overflow:hidden;
	height:271px;

}

.downloadlink {
	text-decoration : none;
	color:blue;
}
#tablecontainer{
	float:left;
	width:60%%;
	margin:5px;
	padding:5px;
	border:1px solid black;
}

#toolbar{
	float:left;
	width:100%;
	height:55px;
}
#left-table {
	width:400px;
	float:left;
}

#right-table {
	width:400px;
	float:left;
}

#savebuttons{
	width:100%;
	float:left;
	margin:5px;
}

#right-table table{
	cellspacing : 10px;
	}
	#left-table table {
	cellspacing : 30px;
	}
	
#rfqitems{
	width:100%;
	float:left;
	margin:5px;
}